<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <import resource="spring-rabbitmq-base.xml"/>

    <!-- 定义队列-->
    <rabbit:queue id="spring_routing_queue" name="spring_routing_queue" auto-declare="true"/>

    <!-- 定义 Routing  路由模式 交互机 -->
    <rabbit:direct-exchange name="spring_direct_exchange">
        <rabbit:bindings>
            <!--direct 类型的交换机绑定队列  key ：路由key  queue：队列名称-->
            <rabbit:binding queue="spring_routing_queue" key="info"/>
        </rabbit:bindings>

    </rabbit:direct-exchange>


</beans>